{% extends 'main_app/header.html' %}

{% block title %} About us {% endblock title %}

{% block content %}



<ol style="list-style-type: none; font-size: large">
  <h2 style="text-align: center; position: static;"> Project assumptions:</h2>
  <li>ability to create a user account</li>
<li>ability to list product for sale</li>
<li>ability to add products to a shopping cart</li>

  <h3>Visible to all:</h3>
<li>registration view</li>
<li>login view</li>
<li>auction view</li>
<li>auction detail view</li>

<h3>Visible to logged-in users:</h3>
<li>view of auction adding form</li>
<li>view of auction editing form</li>
<li>cart view</li>
<li>on auction detail view add to cart button</li>

<h3>Optional:</h3>
<li>view of products by categories</li>
<li>search for products by name</li>
<li>creating order</li>
<li>list view of ordered items</li>
</ol>



{% endblock %}