<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main_app/css/main.css'%}">
    <title> {% block title %} {% endblock title%} </title>
</head>
<body>
    <nav>
        <ul class="navigation-box">
            <div class="navigation">
                <div class="home"><a href="{% url 'main_app:home' %}">Home</a></div>
                <div class="auctions_view"><a href="{% url 'product:auctions' %}">Auctions</a></div>
                <div class="about-us"><a href="{% url 'main_app:about_us' %}">About us</a></div>
                <div class="contact"><a href="#">Contact</a></div>

                <div class="cart_view"><a href="{% url 'cart:cart_view' %}">Shopping cart</a></div>
            </div>
        </ul>
    </nav>

    {% block content%}

    {% endblock %}

</body>
</html>