{% extends 'main_app/header.html' %}

{% block title %} Registration {% endblock title %}

{% block content %}

<style>
    .special_form{
        text-align: left;
        margin: 1cm;
    }
</style>
<div>
    <div>
        <h2>Sign up</h2>
    </div>
    <div>
        <form method="POST" class="special_form">
        {% csrf_token %}
        {{register_form}}
            <input type="submit" name="Create User">
            {{register_form.errors}}
        </form>
        <div class="login-question">
              <p>Already have an account?</p>
              <a class="login" href="{% url 'accounts:login' %}">
                  <button type="submit">Log in</button>
              </a>
        </div>
    </div>
</div>
{% endblock %}